<%- include('layouts/header') %>
    <main>
        <p>Total Price of items: £<%= totalPrice %></p>
        <a href="http://localhost:3000">Go to shopping again</a>
</main>
<%- include('layouts/footer') %>