<%- include('layouts/header') %>
    <main>
        <div class="row-box">
            <div class="row-box-header">
                <span>jacket</span>
            </div>
            <div class="row-box-items">
                <div class="box">
                    <img src="../images/jacket/jacket-1.jpg" alt="jacket-1">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-2.jpg" alt="jacket-2">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-3.jpg" alt="jacket-3">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-4.jpg" alt="jacket-4">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-5.jpg" alt="jacket-5">
                </div>
                <!-- #region additional jacket -->
                <div class="box">
                    <img src="../images/jacket/jacket-3.jpg" alt="jacket-3">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-4.jpg" alt="jacket-4">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-5.jpg" alt="jacket-5">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-3.jpg" alt="jacket-3">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-4.jpg" alt="jacket-4">
                </div>
                <div class="box">
                    <img src="../images/jacket/jacket-5.jpg" alt="jacket-5">
                </div>
                <!-- #endregion -->
            </div>
        </div>
        <div class="row-box">
            <div class="row-box-header">
                <span>pant</span>
            </div>
            <div class="row-box-items side_bar">
                <div class="box">
                    <img src="../images/pant/pant-1.jpg" alt="pant-1">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-2.jpg" alt="pant-2">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-3.jpg" alt="pant-3">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-4.jpg" alt="pant-4">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-5.jpg" alt="pant-5">
                </div>
                <!-- #region additional pants -->
                <div class="box">
                    <img src="../images/pant/pant-3.jpg" alt="pant-3">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-4.jpg" alt="pant-4">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-5.jpg" alt="pant-5">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-3.jpg" alt="pant-3">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-4.jpg" alt="pant-4">
                </div>
                <div class="box">
                    <img src="../images/pant/pant-5.jpg" alt="pant-5">
                </div>
                <!-- #endregion -->
            </div>
        </div>
        <div class="row-box">
            <div class="row-box-header">
                <span>t-shirt</span>
            </div>
            <div class="row-box-items">
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-1.jpg" alt="t-shirt-1">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-2.jpg" alt="t-shirt-2">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-3.jpg" alt="t-shirt-3">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-4.jpg" alt="t-shirt-4">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-5.jpg" alt="t-shirt-5">
                </div>
                <!-- #region additional t-shirts -->
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-3.jpg" alt="t-shirt-3">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-4.jpg" alt="t-shirt-4">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-5.jpg" alt="t-shirt-5">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-3.jpg" alt="t-shirt-3">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-4.jpg" alt="t-shirt-4">
                </div>
                <div class="box">
                    <img src="../images/t-shirt/t-shirt-5.jpg" alt="t-shirt-5">
                </div>
                <!-- #endregion -->
            </div>
        </div>
    </main>
<%- include('layouts/footer') %>